@font-face {
  font-family: "Geist";
  src: url("/fonts/geist.woff2") format("woff2 supports variations"),
    url("/fonts/geist.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

:root {
  font-family: Geist, system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}