@import url('/fonts/index.css');

:root,
body {
  display: flex;
  flex-direction: column;
}

:root {
  min-height: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;

  background: var(--base);
  color: var(--on-base);
}

:root {
  --card-radius: 10px;
  --popover-radius: 8px;

  --danger: hsl(356.5 93.7% 56.5%);
  --on-danger: hsl(360 84.1% 97.2%);
  --danger-display: hsl(356.5 93.7% 56.5%);

  --info: hsl(201, 100%, 27%);
  --on-info: hsl(203, 80%, 96%);

  --success: hsl(162, 100%, 24%);
  --on-success: hsl(152, 63%, 95%);

  --warning: hsl(32, 100%, 51%);
  --on-warning: hsl(21, 100%, 13%);
}

:root {
  --base: #f6f2ea;
  --on-base: hsl(48, 19%, 11%);

  --card: #fffdf5;
  --on-card: hsl(223.8136 0.0000% 3.9388%);
  --card-shadow:
    0 1px 1px hsl(0 0% 0% / 0.02),
    0 2px 2px hsl(0 0% 0% / 0.02),
    0 4px 4px hsl(0 0% 0% / 0.02),
    0 8px 8px hsl(0 0% 0% / 0.02);

  --popover: #fffdf5;
  --on-popover: hsl(223.8136 0.0000% 3.9388%);
  --popover-shadow:
    0 1px 1px hsl(0 0% 0% / 0.05),
    0 2px 2px hsl(0 0% 0% / 0.05),
    0 4px 4px hsl(0 0% 0% / 0.05),
    0 8px 8px hsl(0 0% 0% / 0.05),
    0 16px 16px hsl(0 0% 0% / 0.05);

  --primary: hsl(43.5874 95.7082% 54.3137%);
  --on-primary: hsl(43.2000 86.2069% 5.6863%);

  --secondary: hsl(220.5405 90.2439% 91.9608%);
  --on-secondary: hsl(228 8.7719% 11.1765%);

  --accent: hsl(222 19.2308% 10.1961%);
  --on-accent: hsl(0 0% 100%);

  --muted: hsl(55, 28%, 94%);
  --on-muted: hsl(50, 3%, 42%);

  --border: hsl(45, 10%, 85%);

  --sidebar: #ebe8db;
  --on-sidebar: hsl(222 19.2308% 10.1961%);

  --sidebar-highlight: #dcd9d0;
  --sidebar-on-highlight: hsl(43.6398 84.5461% 7.6488%);

  --shaded: #0001;
  --shaded-2: #0002;
}

.dark {
  --base: #171716;
  --on-base: hsl(223.8136 0.0004% 98.0256%);

  --card: hsl(0 1.4085% 13.9216%);
  --on-card: hsl(223.8136 0.0004% 98.0256%);
  --card-shadow:
    0 1px 0 #ffffff0c inset,
    0 2px 0 #ffffff0a inset,
    0 1px 1px hsl(0deg 0% 0% / 0.05),
    0 2px 2px hsl(0deg 0% 0% / 0.05),
    0 4px 4px hsl(0deg 0% 0% / 0.05),
    0 8px 8px hsl(0deg 0% 0% / 0.05),
    0 16px 16px hsl(0deg 0% 0% / 0.05);

  --popover: hsl(0 1.4085% 13.9216%);
  --on-popover: hsl(223.8136 0.0004% 98.0256%);
  --popover-shadow:
    0 1px 0 #ffffff0c inset,
    0 2px 0 #ffffff0a inset,
    0 1px 1px hsl(0 0% 0% / 0.2),
    0 2px 2px hsl(0 0% 0% / 0.2),
    0 4px 4px hsl(0 0% 0% / 0.2),
    0 8px 8px hsl(0 0% 0% / 0.2),
    0 16px 16px hsl(0 0% 0% / 0.2);

  --primary: hsl(43.8937 99.9805% 51.0721%);
  --on-primary: hsl(43.2000 86.2069% 5.6863%);

  --secondary: hsl(220.5882 15.1786% 43.9216%);
  --secondary-foreground: hsl(0 0% 100%);

  --accent: hsl(224.0000 100% 97.0588%);
  --on-accent: hsl(222 19.2308% 10.1961%);

  --muted: hsl(60, 1%, 18%);
  --on-muted: hsl(0, 0%, 73%);

  --border: hsl(0 0% 25.0980%);

  --sidebar: #0f0f0f;
  --on-sidebar: hsl(223.8136 0.0004% 98.0256%);

  --sidebar-highlight: #171716;
  --sidebar-on-highlight: hsl(223.8136 0.0004% 98.0256%);

  --danger: hsl(357, 100%, 60%);
  --danger-display: hsl(357, 90%, 67%);

  --success: hsl(162, 100%, 33%);

  --shaded: #fff1;
  --shaded-2: #fff2;
}

body {
  flex-grow: 1;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

:root svg {
  display: inline-block;
  vertical-align: middle;
}

svg:not([fill=none]) {
  fill: currentColor;
}

svg[stroke-width]:not([stroke=none]),
path[stroke-width]:not([stroke=none]) {
  stroke: currentColor;
}

::selection {
  background-color: var(--primary);
  color: var(--on-primary);
}

input {
  min-width: 0;
  field-sizing: content;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

.dialog-overlay {
  --ov-bg: #0003;
}

.dark .dialog-overlay {
  --ov-bg: #0008;
}